.title {
  position: absolute;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 10em;
  color: #08bae3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.span {
  font-size: 0.5em;
}

.middle {
  position: absolute;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 10em;
  -webkit-text-stroke: 0.1em #fff765;
  z-index: 49;
}
.bottom {
  position: absolute;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 10em;
  -webkit-text-stroke: 0.4em black;
  z-index: 48;
}
