.title {
  position: absolute;
  width: min-content;
  height: min-content;
  top: 20%;
  left: 35%;
  bottom: 0;
  right: 0;
  font-family: "Get Schwifty";
  font-size: 8em;
  color: #08bae3;
  z-index: 25;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.span {
  font-size: 0.5em;
}

.middle {
  position: absolute;
  width: min-content;
  height: min-content;
  top: 20%;
  left: 35%;
  bottom: 0;
  right: 0;
  font-family: "Get Schwifty";
  font-size: 8em;
  -webkit-text-stroke: 0.1em #fff765;
  z-index: 24;
}
.bottom {
  position: absolute;
  width: min-content;
  height: min-content;
  top: 20%;
  left: 35%;
  bottom: 0;
  right: 0;
  font-family: "Get Schwifty";
  font-size: 8em;
  -webkit-text-stroke: 0.4em black;
  z-index: 23;
}
@media screen and (max-width: 1800px) {
  .title {
    left: 32%;
  }
  .middle {
    left: 32%;
  }
  .bottom {
    left: 32%;
  }
}
@media screen and (max-width: 1700px) {
  .title {
    left: 30%;
  }
  .middle {
    left: 30%;
  }
  .bottom {
    left: 30%;
  }
}
@media screen and (max-width: 1600px) {
  .title {
    left: 28%;
  }
  .middle {
    left: 28%;
  }
  .bottom {
    left: 28%;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    left: 23%;
  }
  .middle {
    left: 23%;
  }
  .bottom {
    left: 23%;
  }
}
@media screen and (max-width: 900px) {
  .title {
    width: min-content;
    font-size: 6em;
    left: 19%;
  }
  .middle {
    width: min-content;
    font-size: 6em;
    left: 19%;
  }
  .bottom {
    width: min-content;
    font-size: 6em;
    left: 19%;
  }
}
@media screen and (max-width: 600px) {
  .title {
    width: min-content;
    font-size: 4em;
    left: 20%;
  }
  .middle {
    width: min-content;
    font-size: 4em;
    left: 20%;
  }
  .bottom {
    width: min-content;
    font-size: 4em;
    left: 20%;
  }
}
@media screen and (max-width: 500px) {
  .title {
    left: 11%;
  }
  .middle {
    left: 11%;
  }
  .bottom {
    left: 11%;
  }
}
