.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  background-image: url("../public/936813.png");
  background-size: 100%;
  background-repeat: repeat-y;
}

@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}
