.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  height: 80%;
  padding: 8px;
}
.input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2em;
  width: 30%;
  text-align: center;
  background: rgba(116, 188, 185, 0.6);
  text-shadow: 3px 3px 8px rgb(3, 3, 3);
  color: white;
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
  border: 0px;
}
.input::placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.309);
  transition: 0.2s ease-in-out;
}
.input:hover::placeholder {
  font-size: 0.8em;
  transition-delay: 0.2s;
}

.buttonLeft {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 20%;
  font-size: 0.8em;
  border-radius: 15px 0px 0px 15px;
  background: rgba(116, 188, 185, 0.6);
  text-shadow: 3px 3px 8px rgb(3, 3, 3);
  color: white;
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
  border: 0px;
  transition: 0.2s ease-in-out;
}
.buttonRight {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 20%;
  font-size: 0.8em;
  border-radius: 0px 15px 15px 0px;
  background: rgba(116, 188, 185, 0.6);
  text-shadow: 3px 3px 8px rgb(3, 3, 3);
  color: white;
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
  border: 0px;
  transition: 0.2s ease-in-out;
}

.buttonLeft:hover {
  transition-delay: 0.2s;
  font-size: 0.7em;
}
.buttonRight:hover {
  transition-delay: 0.2s;
  font-size: 0.7em;
}

@media screen and (max-width: 1400px) {
  .searchContainer {
    width: 40%;
  }
  .input {
    width: 70%;
    font-size: 0.8em;
  }
  .buttonLeft {
    width: 35%;
    font-size: 0.8em;
  }
  .buttonRight {
    width: 35%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .searchContainer {
    width: 90%;
  }
  .input {
    width: 50%;
    font-size: 0.6em;
  }
  .buttonLeft {
    width: 35%;
    font-size: 0.6em;
  }
  .buttonRight {
    width: 35%;
    font-size: 0.6em;
  }
}
