.nav {
  background: rgba(64, 144, 140, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 25px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 10px rgb(255, 255, 255);
}

.menu {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.separador {
  border: white solid 1px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 3px 2px 10px black;
}

.menuText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.3em;
  color: white;
  margin: 10px;
  text-shadow: 3px 3px 8px rgb(3, 3, 3);
  transition: 0.2s ease-in-out;
}

.menuText:hover {
  font-size: 1.4em;
  text-shadow: 5px 5px 10px black;
  transition-delay: 0.2s;
}
.logo {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  box-shadow: 3px 2px 10px black;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  height: 35px;
  width: 35px;
  transition-delay: 0.2s;
}

@media screen and (max-width: 581px) {
  .menuText {
    font-size: 0.8em;
    margin: 5px;
  }
  .separador {
    display: none;
  }
}
